.config-nav-block .conversionpro-tab span {
    background: url(../images/celebros-conversionpro-tab-logo.png) no-repeat;
    padding-left: 28px;
}
.cel-log-row {
    margin-bottom: 3px;
    padding: 8px;
    padding-left: 12px;
    background: #fafafa;
    border: 1px solid #f6f6f6;
}
.cel-log-filename {
    margin-left: 10px;
    color: #303030;
    float: none;
    font-size: 14px;
    font-weight: 600;
}
.cel-logs {
    margin-right: 10px;    
}
.cel-logs:before {
    font-family: 'Admin Icons';
    margin-top: -1.1rem;
    top:50%
}
.cel-logs.download:before {
    content: '\e635';
    color: #307030;
}
.cel-logs.cleanup:before {
    content: '\e630';
    color: #903030;
}
.cel-log-row a:hover {
    color: #fff;
}